<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Description</key>
	<string>Cria uma estrutura DDD com Application, Domain, Infrastructure e UI</string>
	<key>Identifier</key>
	<string>com.projeto.ddd.module</string>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Name</key>
	<string>DDD Module</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>moduleName</string>
			<key>Name</key>
			<string>Module Name</string>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
</dict>
</plist>
